// fonts 
$font-main: 'Montserrat-Regular', 'sans-serif';
$font-title: 'Montserrat-Bold', 'sans-serif';
$font-accent:  'Montserrat-SemiBold', 'sans-serif';
$font-subtitle: 'Montserrat-Medium', 'sans-serif';

// color 
$bg-button-accent: #FF7A00;
$bg-link: #E3BF00;
$color-white: #fff;
$color-dark: #000;
$color-text: #4F4F4F;
$color-input: #9E9E9E;